@media screen and (max-width: 320px){
    .note1{
        font-size: 11px;
    }
 
}

body{
    background-color: black;
    color: white;
}

h1{
    font-size: 5vw;
    font-family: "Audrey";
    font-weight: bold;
    display: inline;
    margin-left: 7%;
    
}

.note1{
    width: 50%;
    height: auto;
    background-color: blueviolet;
    text-align: center;
    font-weight: bold;
    margin-left: 25%;
    font-size: 1vw;
}


