/*@media only screen and (min-width: 319px) and (max-width: 550px){
    body{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }
    h1{
        margin-top: 10%;
    }

    #text1{
        margin-top: 5%;
    }

    .inputs{
        float: left;

    }*/

body{
    background-image: url("/image/gh.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

h1{
    color: black;
    font-size: 3.7vw;
    font-family: "Audrey";
    font-weight: bold;
    margin-top: 1.5%;
    text-decoration: underline; 
}

#navy{
    width: 100%;
    height: auto;
    font-size: 1.3vw;
    display: flex;
    justify-content: space-around;
    
}

ul{
   background-color: rgba(238, 18, 18, 0.712);
}

a{
    text-decoration-style: none;
    color: black;
    display: inline-flex;
    justify-content: space-between;

}

#one{
    background-color: #d4ba258c;
    width: 45%;
    font-size: 1.5vw;
    padding: 3%;
    float: left;
    letter-spacing: 0.17em;
}


h3{
    color: black;
    background-color: rgba(255, 255, 0, 0.644);
    font-family: "Audrey";
    font-weight: bold;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    padding: 1%;
    text-decoration: underline;
}

#fill{
    background-color: rgba(153, 205, 50, 0.342);
    font-size: 1.5vw;
}

.label{
    font-size: 1.8vw;
    padding: 3%;
    text-decoration: underline;
}

.males{
    color: black;
    font-size: 1.5vw;
}

.fe-male{
    color: black;
    font-size: 1.5vw;
}

.inputs{
    color: black;
    font-size: 1.1vw;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

#submit{
    color: black;
    font-size: 1.5vw;
    padding: 2%;
}

.footer{
    font-size: 1.3vw;

}


