@media screen and (min-width: 320px) and (max-width: 550px){
    body{
        background-color: blueviolet;
        color: white;
    }
}
 


body{
    background-color: black;
    color: white;
}

h1{
    font-size: 5vw;
    font-family: "Audrey";
    font-weight: bold;
    display: inline;
    margin-left: 7%;
    
}

p{
    width: 50%;
    height: auto;
    background-color: blueviolet;
    text-align: center;
    font-weight: bold;
    margin-left: 25%;
    font-size: 2vw;
}


